html,
body {
  height: 100%;
  margin: 0%;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.img1,
.img2,
.img3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Section - 1 */

.img1 {
  background-image: url("./images/one.jpg");
  min-height: 100%;
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 27px;
  letter-spacing: 8px;
}

.textBg {
  background-color: #313534;
  padding: 20px;
}

/* Section - 2 */

.section {
  padding: 100px 80px;
  text-align: center;
}
.section-light {
  padding: 50px 80px;
  text-align: center;
  background-color: #f4f4f4;
  color: #666;
}

/* Section - 3 */

.img2 {
  background-image: url("./images/two.jpg");
  min-height: 400px;
}

/* Section - 4 */

.section-dark {
  background-color: #282e34;
  color: #ddd;
}
.img3 {
  background-image: url("./images/three.jpg");
  height: 400px;
}